{{/* default lt, left/top */}}
{{- $headerContainerClass := " fixed-top " -}}
{{- $headerBoxClassTitle := " d-flex justify-content-start " -}}
{{- $headerBoxClassSubtitle := " d-flex justify-content-start " -}}

{{- if (eq .Site.Params.theme.header.overlay_alignment "mt") -}}
{{- $headerContainerClass = " fixed-top " -}}
{{- $headerBoxClassTitle = " d-flex justify-content-center " -}}
{{- $headerBoxClassSubtitle = " d-flex justify-content-center " -}}
{{- else if (eq .Site.Params.theme.header.overlay_alignment "rt") -}}
{{- $headerContainerClass = " fixed-top " -}}
{{- $headerBoxClassTitle = " d-flex justify-content-end " -}}
{{- $headerBoxClassSubtitle = " d-flex justify-content-end " -}}
{{- else if (eq .Site.Params.theme.header.overlay_alignment "lb") -}}
{{- $headerContainerClass = " fixed-bottom " -}}
{{- $headerBoxClassTitle = " d-flex justify-content-start " -}}
{{- $headerBoxClassSubtitle = " d-flex justify-content-start " -}}
{{- else if (eq .Site.Params.theme.header.overlay_alignment "mb") -}}
{{- $headerContainerClass = " fixed-bottom " -}}
{{- $headerBoxClassTitle = " d-flex justify-content-center " -}}
{{- $headerBoxClassSubtitle = " d-flex justify-content-center " -}}
{{- else if (eq .Site.Params.theme.header.overlay_alignment "rb") -}}
{{- $headerContainerClass = " fixed-bottom " -}}
{{- $headerBoxClassTitle = " d-flex justify-content-end " -}}
{{- $headerBoxClassSubtitle = " d-flex justify-content-end " -}}
{{- end -}}

<div id="header" role="banner" style="{{- if .Site.Params.theme.header.background_color -}}background-color: 
{{ .Site.Params.theme.header.background_color }};{{- end -}}
{{ if .Site.Params.theme.header.font_color }}color: {{  .Site.Params.theme.header.font_color }};{{- end -}}">

  <div class="container">
    <header class="masthead">
      <div>
        <div id="site-header-container-above" class="row align-items-center">
          {{ if or (not .Site.Params.theme.header.title_on_image) (not .Site.Params.theme.header.image) }}
          <div class="col">
            {{ if .Site.Params.theme.header.display_header_text }}
            <h1 id="site-header-text"><a class="header-url"
                style="{{ if .Site.Params.theme.header.font_color_title }}color: {{ .Site.Params.theme.header.font_color_title }};{{ end }}"
                href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            {{ if .Site.Params.subtitle }}<h2 class="azbalac-subtitle-above" id="site-description"
              style="{{ if .Site.Params.theme.header.font_color_subtitle }}color: {{ .Site.Params.theme.header.font_color_subtitle }};{{ end }}">
              {{ .Site.Params.subtitle }}</h2>{{ end }}
            {{ else }}
            &nbsp;
            {{ end }}
          </div>

          {{ end }}
        </div>
      </div>




      <div id="site-header-above">
        {{- if .Site.Params.theme.header.image -}}<a href="{{ .Site.BaseURL }}" rel="home">
          <picture>
            <source media="(min-width: 1200px)" srcset="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }} 1110w">
            <source media="(min-width: 992px) and (max-width: 1199.98px)"
              srcset="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }} 930w">
            <source media="(min-width: 768px) and (max-width: 991.98px)"
              srcset="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }} 690w">
            <source media="(min-width: 576px) and (max-width: 767.98px)"
              srcset="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }} 510w">
            <source media="(max-width: 575.98px)"
              srcset="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }} 476w">
            <img id="site-header-image" src="{{ .Site.BaseURL }}{{ .Site.Params.theme.header.image }}"
              style="max-width: 100%; width: 100%">
          </picture>
        </a>{{- end -}}

        {{ if and .Site.Params.theme.header.title_on_image .Site.Params.theme.header.display_header_text }}

        <div id="site-header-container-overlay" class="position-absolute {{ $headerContainerClass }}">
          <div id="site-header-box-title" class="{{ $headerBoxClassTitle }}">
            <h1 class="azbalac-title" id="site-header-text"><a class="header-url"
                style="{{ if .Site.Params.theme.header.font_color_title }}color: {{ .Site.Params.theme.header.font_color_title }};{{ end }}"
                href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
          </div>
          {{ if .Site.Params.Subtitle }}
          <div id="site-header-box-subtitle" class="{{ $headerBoxClassSubtitle }}">
            <h2 class="azbalac-subtitle" id="site-description"
              style="{{ if .Site.Params.theme.header.font_color_subtitle }}color: {{ .Site.Params.theme.header.font_color_subtitle }};{{ end }}">
              {{ .Site.Params.Subtitle }}</h2>
          </div>{{ end }}
        </div>
        {{ end }}

      </div>

      {{ if .Site.Menus.main }}
      <nav id="navbarMain"
        class="navbar navbar-expand-sm __5_justify-content-between mb-3 {{ .Site.Params.navbar.color_scheme }} {{ .Site.Params.navbar.bg_scheme }}"
        {{ if .Site.Params.navbar.background_color
        }}style="background-color: {{ .Site.Params.navbar.background_color }};" {{ end }}role="navigation">

        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="__5_sticky-top navbar-collapse collapse  {{ .Site.Params.navbar.text_alignment }}"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              {{- partial "navbar_items.html" . -}}
            </ul>

            {{/* Right slot */}}
            <div class="d-flex align-items-center ms-auto">
              {{- partial "navbar_right.html" . -}}
            </div>
          </div><!--/.nav-collapse -->

        </div>

      </nav> <!-- end navbar-->
      {{ end }}



    </header>
  </div> <!-- /container -->
</div><!-- /div id header with default navbar -->