<!DOCTYPE html>
<html lang="{{- .Site.LanguageCode | default "" -}}">

{{ partial "head.html" . }}

<body>


{{/* page override wins over site default */}}

{{- $navbarStyle := default "fixed-top" site.Params.navbar.style -}}
{{- with .Params.navbar.style -}}
  {{- $navbarStyle = . -}}
{{- end -}}

{{- if eq $navbarStyle "fixed-top" -}}
  {{- partial "header_fixed_top.html" . -}}
{{- else -}}
  {{- partial "header_default.html" . -}}
{{- end -}}



    <div id="main">
        <div class="container">
            <div class="row">

                {{- if and (default false .Site.Params.sidebar.enabled) (eq "left" (.Site.Params.sidebar.style | default "right" )) }}
                {{ partial "sidebar_container.html" . }}
                {{- end -}}  
                <div class="col-md" id="content">
                    {{- block "main" . }}{{- end }}
                </div>
                {{- if and (default false .Site.Params.sidebar.enabled) (eq "right" (.Site.Params.sidebar.style | default "right" )) }}
                    {{ partial "sidebar_container.html" . }}
                {{- end -}}                
            </div>
        </div>
    </div>

    {{ block "footer" . }}
        {{ partial "footer_container.html" . }}
    {{ end }}
    {{ block "subfooter" . }}
        {{ partial "subfooter_container.html" . }}
    {{ end }}

    <div id="media-width-detection-element"></div>

    {{- if .Site.Params.analytics.matomo.enabled -}}
    {{ partial "analytics/matomo.html" . }}
    {{- end -}}
{{/* {{ template "_internal/google_analytics_async.html" . }} */}}
{{ template "_internal/google_analytics.html" . }}
{{- if .Site.Params.analytics.yandexmetrica.enabled -}}
    {{ partial "analytics/yandexmetrica.html" . }}
{{- end -}}
{{- partial "bottom.html" . -}}
{{- partial "javascript_footer.html" . }}
</body>
</html>